<p>
    <mat-toolbar color="primary">
        <span class="title">
            Replenish4me
        </span>
        
        <a (click)="navigateToCart()">
            Carrinho
        </a>

        <a (click)="navigateToReaders()">
            Leitores
        </a>

        <a (click)="navigateToPreferences()">
            Preferências
        </a>

        <span class="right">
            <button mat-icon-button (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </span>
    </mat-toolbar>
</p>

